.rotate {
    animation: rotateAnimation 60s infinite linear;
}

@keyframes rotateAnimation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.justRotate {
    animation: rotateAnimationJust 30s infinite linear;
}

@keyframes rotateAnimationJust {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
