.startButton {
    width: 30%;
    height: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5f5f5;
    text-align: center;

    box-shadow:
        0px 3px 8px #aaa,
        inset 0px 2px 3px #fff;
    border: solid 1px transparent;

    svg {
        fill: inherit;
    }

    &:hover {
        text-decoration: none;
        background: #fff;
    }
}

.clicked {
    box-shadow:
        0px 3px 4px #aaa inset,
        0px 2px 3px #fff;
}
